.offline_tab_U,.offline_tab{
			width: 904px;
			float: left;
		}
		.offline_tab_N{
			padding-left: 0;
		}
		
		.offline_tab_N .school_list_img{
			width: 165px;
			height: 90px;
			float: left;
			margin-right: 20px;
		}
		.offline_tab_N .school_list a{
			width: 700px;
			height: 90px;
		}
		.school_list{
			padding: 15px;
			margin-left: 15px;
			margin-right: 15px;
		}
		.span1{
			float: left;
			content: "";
			width: 15px;
			height: 19px;
			background: url(../../img/index/15ico_bg.png);
			background-position: 0px -628px;
			margin-top: 3px;
			
		}
		.span2{
			float: left;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../../img/index/15ico_bg.png);
			background-position: 0px 98px;
		}
		.span3{
			float: left;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../../img/index/15ico_bg.png);
			background-position: 0px 120px;
		}
		.offline_tab_U{
			float: none;
		}
		.s_span_active{
			font-size: 18px;
			color: #333333;
		}
		.s_span_span{
			display: inline-block;
			margin-top: 8px;
			margin-bottom: 15px;
		}
		.school_list:hover .s_span_active{
			color:#29b572;
		}
		.school_list:hover{
			border: 1px solid #e0e0e0;
		}
		
		
	/*right*/		/*学校右侧部分*/
.school_right{
			float: right;
			width: 300px;
			height: 490px;
			background-color: white;
}

.school_right_h{
	height: 50px;
	width: 270px;
	line-height: 50px;
}
.school_right_h a:nth-child(1){
	font-size: 16px;
}
.school_right_h a:nth-child(1):before{
	/*font-size: 15px;*/
	content: "";
	width: 20px;
	height: 20px;
	float: left;
	background: url(../../img/index/15ico_bg.png) no-repeat center;
	background-position: 0px -652px;
	margin-top: 15px;
	
}
.school_hot {
	position: relative;
	margin: 0 15px;

}
.school_more {
	float: right;
	color: #666;
	font-size: 12px;
}
.hot_list {
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.hot_pic {
	float: left;
	width: 110px;
	height: 60px;
}
.hot_pic img {
	display: block;
	width: 100%;
	height: 100%;
}
/*热门学校  信息*/
.hot_info {
	float: left;
	width: 150px;
	margin-left: 10px;
	
}
/*热门学校  名称*/
.hot_info h4 {
	color: #333;
	font-size: 14px;
	/*单行省略*/
	text-overflow: ellipsis;/*截取文本*/
	white-space: nowrap;/*强制文本不换行*/
	overflow: hidden;/*隐藏溢出文本*/
}

.hot_info p {
	font-size: 12px;
	color: #999;
}
.hot_info p span:nth-child(1) {
	margin-right: 12px;
}